.paymentContainer {
    display: grid;
    place-items: center;
    background-color: rgb(255, 255, 255);
    height: 65vh;
    margin: 2vmax;
  }
  
  
  

  
  

  
  .paymentForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.623);
  }
  .paymentForm {
    width: 40%;
    height: 100%;
  }

  .paymentForm > p {
    font: 400 2vmax "Spartan";
    color: rgba(0, 0, 0, 0.753);
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    padding: 1vmax 0;
    text-align: center;
    width: 50%;
    margin: auto;
    font-family: "Spartan";
  }

  .paymentForm > p {
    font: 400 2vmax "Spartan";
    color: rgba(0, 0, 0, 0.753);
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
    padding: 1vmax 0;
    text-align: center;
    width: 50%;
    margin: auto;
    font-family: "Spartan";
  }

  .paymentInput {
    padding: 1.3vmax 4vmax;
    padding-right: 1vmax;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid rgba(0, 0, 0, 0.267);
    border-radius: 0px;
    outline: none;
  }

  .paymentForm > div {
    display: flex;
    align-items: center;
    margin: 2vmax 0;
  }
  .paymentForm > div > svg {
    position: absolute;
    transform: translateX(1vmax);
    font-size: 1.6vmax;
    color: rgba(0, 0, 0, 0.623);
  }

  .paymentContainer button {
    padding: 17px;
    width: 100%;
    border: 1px solid black;
    background: black;
    color: #FFF;
    font-family: 'Spartan';
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 700;
    transition: .3s ease-in-out;
}

.paymentContainer button:hover{
    background: none;
    color:  black;
}

  
  
  @media screen and (max-width: 990px) {
    .paymentForm {
        width: 95% !important;
        height: 100%;
    }
    .InputContainer .InputElement {
        position: absolute;
        top: 0;
        right: -26px !important;
    }
    .InputContainer .InputElement {
        position: absolute;
        top: 0;
        right: -26px !important;

    }
    .ElementsApp input {
        background-color: transparent;
        border: none;
        display: block;
        font-family: 'Spartan';
        margin: 0;
        padding: 0 28px !important;
        width: 100%;
        font-size: 1em;
        line-height: 1.2em;
        height: 1.2em;
    }
    .paymentInput {
        padding: 3.0vmax 4vmax;
        padding-right: 1vmax;
        width: 100%;
        box-sizing: border-box;
        border: 1px solid rgba(0, 0, 0, 0.267);
        border-radius: 0px;
        outline: none;
        font-family: 'Spartan';
    }
    .paymentForm > div {
        display: flex;
        align-items: center;
        margin: 1vmax 0;
        justify-content: space-between;
    }
    .paymentForm > div {
        display: flex;
        align-items: center;
        margin: 1vmax 0;
        justify-content: space-between;
        margin-bottom: 25px;
    }
    .__PrivateStripeElement {
        position: relative !important;
        left: 18px !important;
    }
    .paymentForm > div > svg {
        position: absolute;
        transform: translateX(1.6vmax);
        font-size: 4.1vmax;
        color: rgba(0, 0, 0, 0.623);
    }
    .success h1 {
      font-size: 29px;
      text-transform: uppercase;
      font-family: 'Poppins';
      font-weight: 900;
      text-align: center;
      line-height: 3.9rem;
      padding: 11px 10px;
  }
  }
  .payment_success_item h1 {
    font-family: 'Spartan';
    margin-bottom: 45px;
    text-transform: uppercase;
    font-size: 24px;
    margin-top: 25px;
    font-weight: 300;
    text-align: center;
}